<nav id="application-header" class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="<%= root_path %>">
      <img src="<%= asset_path 'logo4.png' %>" alt="Associated Students of Pomona College">
    </a>

    <div class="navbar-burger burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <!-- Events -->
      <%= link_to "Events", :events, :class => "navbar-item" %>

      <!-- Menus -->
      <%= link_to "Menus", :menus, :class => "navbar-item" %>


      <!-- Course Schedule / Reviews -->
      <%= link_to "Courses", :courses, :class => "navbar-item" %>

      <!--<div class="navbar-item has-dropdown is-hoverable">
        <div class="navbar-link">
          Courses
        </div>
        <div class="navbar-dropdown">
          <%= link_to "Course Planner", :courses, :class => "navbar-item" %>
        </div>
      </div>-->

      <!-- ASPC -->
      <div class="navbar-item has-dropdown is-hoverable is-mega">
        <div class="navbar-link" />
          ASPC
        </div>
        <div id="blogDropdown" class="navbar-dropdown " data-style="width: 18rem;">
          <div class="container is-fluid">
            <div class="columns">
              <div class="column">
                <h1 class="title is-6 is-mega-menu-title">Who We Are</h1>
                  <div class="navbar-content">
                    <%= link_to "Senators", :aspc_senators, :class => "navbar-item" %>
                  </div>
                  <div class="navbar-content">
                    <%= link_to "Staff Members", :aspc_staff, :class => "navbar-item" %>
                  </div>
                  <div class="navbar-content">
                    <%= link_to "Committee Members", :aspc_committee, :class => "navbar-item" %>
                  </div>
                  <div class="navbar-content">
                    <%= link_to "Pomona Events Committee", :aspc_pec, :class => "navbar-item" %>
                  </div>
                  <div class="navbar-content">
                    <%= link_to "Software Development Group", :aspc_software, :class => "navbar-item" %>
                  </div>
              </div>
              <div class="column">
                <h1 class="title is-6 is-mega-menu-title">What We Do</h1>
                  <div class="navbar-content">
                    <%= link_to "Senate Positions", :aspc_positions, :class => "navbar-item" %>
                  </div>
                <div class="navbar-content">
                  <%= link_to "Budget", :aspc_budget, :class => "navbar-item" %>
                </div>
                <div class="navbar-content">
                  <%= link_to "Constitution", :aspc_policies_constitution, :class => "navbar-item" %>
                </div>
                <div class="navbar-content">
                  <%= link_to "Bylaws", :aspc_policies_bylaws, :class => "navbar-item" %>
                </div>
                <div class="navbar-content">
                  <%= link_to "Elections Code", :aspc_policies_electionscode, :class => "navbar-item" %>
                </div>
              </div>
              <div class="column">
                <h1 class="title is-6 is-mega-menu-title">Frequent Actions</h1>
                <div class="navbar-content">
                  <%= link_to "Meetings & Minutes", :aspc_meeting_minutes, :class => "navbar-item" %>
                </div>
                <div class="navbar-content">
                  <%= link_to "Funding Request", :aspc_funding_request, :class => "navbar-item" %>
                </div>
                  <div class="navbar-content">
                    <%= link_to "Agenda Item Submission", "https://docs.google.com/forms/d/e/1FAIpQLSfGztqoEVwBBYGDFB7bDlW11fOy3UXNtSug89mD0_1g-9CKNg/viewform", :class => "navbar-item" %>
                  </div>
              </div>
            </div>
          </div>

          <hr class="navbar-divider">
          <div class="navbar-item">
            <div class="navbar-content">
              <div class="level is-mobile">
                <div class="level-left">
                  <div class="level-item">
                  </div>
                </div>
                <div class="level-right">
                  <div class="level-item">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- More Resources -->
    <div class="navbar-item has-dropdown is-hoverable">
      <div class="navbar-link">
        More Resources
      </div>
      <div class="navbar-dropdown">
        <div class="navbar-content">
          <a href="https://tsl.news" class="navbar-item">The Student Life</a>
        </div>
        <div class="navbar-content">
          <a href="https://coopstore.pomona.edu" class="navbar-item">Coop Store</a>
        </div>
        <div class="navbar-content">
          <a href="http://kspc.org" class="navbar-item">KSPC 88.7</a>
        </div>
        <div class="navbar-content">
          <a href="http://studio47.tv" class="navbar-item">Studio 47</a>
        </div>
        <hr class="navbar-divider"/>
        <div class="navbar-content">
          <a href="https://pomonastudents.turbovote.org" class="navbar-item">TurboVote</a>
        </div>
        <hr class="navbar-divider"/>
        <div class="navbar-content">
          <%= link_to "API (Developers)", :resources_api, :class => "navbar-item" %>
        </div>
      </div>
    </div>
  </div>

    <!-- Login/Logout -->
    <div class="navbar-end">
      <div class="navbar-item">
        <% unless logged_in? %>
        <div class="field is-grouped">
          <p class="control">
            <a href="<%= login_path %>" class="button is-info">
              <span>Login</span>
            </a>
          </p>
        </div>
        <% else %>
          <div class="field is-grouped">
            <p class="control">
              <a href="<%= logout_path %>" class="button is-light">
                <span>Logout</span>
              </a>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>

<script>
  $(document).ready(function () {
      $("#application-header .burger").click(function () {

          // Toggle the class on both the burger and the menu
          $(this).toggleClass('is-active');
          $("#application-header .navbar-menu").toggleClass('is-active');

      })
  });
</script>