<nav id="application-header" class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="<%= root_path %>">
      <img src="<%= asset_path 'logo4.png' %>" alt="Associated Students of Pomona College">
    </a>

    <div class="navbar-burger burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <!-- Events -->
      <%= link_to "Events", :events, :class => "navbar-item" %>

      <!-- Menus -->
      <%= link_to "Menus", :menus, :class => "navbar-item" %>


      <!-- Course Schedule / Reviews -->
      <div class="navbar-item has-dropdown is-hoverable">
        <div class="navbar-link">
          Courses
        </div>
        <div class="navbar-dropdown">
          <%= link_to "Courses", :courses, :class => "navbar-item" %>
          <%= link_to "Course Reviews", :courses, :class => "navbar-item" %>
          <hr class="navbar-divider">
          <%= link_to "Instructor Reviews", :courses, :class => "navbar-item" %>
        </div>
      </div>

      <!-- ASPC -->
      <div class="navbar-item has-dropdown is-hoverable is-mega">
        <div class="navbar-link">
          ASPC
        </div>
        <div id="blogDropdown" class="navbar-dropdown " data-style="width: 18rem;">
          <div class="container is-fluid">
            <div class="columns">
              <div class="column">
                <h1 class="title is-6 is-mega-menu-title">Who We Are</h1>
                  <div class="navbar-content">
                    <%= link_to "Senators", :aspc_senators, :class => "navbar-item" %>
                  </div>
                  <div class="navbar-content">
                    <%= link_to "Staff Members", :aspc_staff, :class => "navbar-item" %>
                  </div>
                  <div class="navbar-content">
                    <%= link_to "Committee Members", :aspc_committee, :class => "navbar-item" %>
                  </div>
                  <div class="navbar-content">
                    <%= link_to "Software Development Group", :aspc_software, :class => "navbar-item" %>
                  </div>
              </div>
              <div class="column">
                <h1 class="title is-6 is-mega-menu-title">What We Do</h1>
                  <div class="navbar-content">
                    <%= link_to "Positions", :aspc_positions, :class => "navbar-item" %>
                  </div>
                <div class="navbar-content">
                  <%= link_to "Policies", :aspc_policies, :class => "navbar-item" %>
                </div>
                <div class="navbar-content">
                  <%= link_to "Budget", :aspc_budget, :class => "navbar-item" %>
                </div>

              </div>
              <div class="column">
                <h1 class="title is-6 is-mega-menu-title">Other Actions</h1>
                <div class="navbar-content">
                  <%= link_to "PEC", :resources_pec, :class => "navbar-item" %>
                </div>
                <div class="navbar-content">
                  <%= link_to "Funding Request", :resources_pec, :class => "navbar-item" %>
                </div>
                  <div class="navbar-content">
                    <%= link_to "Agenda Item Submission", :resources_pec, :class => "navbar-item" %>
                  </div>
              </div>
            </div>
          </div>

          <hr class="navbar-divider">
          <div class="navbar-item">
            <div class="navbar-content">
              <div class="level is-mobile">
                <div class="level-left">
                  <div class="level-item">
                  </div>
                </div>
                <div class="level-right">
                  <div class="level-item">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- More Resources -->

        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">
            More Resources
          </div>
          <div class="navbar-dropdown">
            <%= link_to "API for Developers", :resources_api, :class => "navbar-item" %>
            <%= link_to "Club Resources", :resources_clubs, :class => "navbar-item" %>
            <%= link_to "On Campus Eateries", :resources_campus_eateries, :class => "navbar-item" %>
          </div>

        </div>

              <div class="level-right">
                <div class="level-item">
                  <span class="icon has-text-info">
                    <i class="fa fa-plug"></i>
                  </span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <!-- Login/Logout -->
    <div class="navbar-end">
      <div class="navbar-item">
        <% unless logged_in? %>
        <div class="field is-grouped">
          <p class="control">
            <%= link_to "Login", :login, :class => 'button is-info' %>
          </p>
        </div>
        <% else %>
          <div class="field is-grouped">
            <p class="control">
              <%= link_to "Logout", :logout, :class => 'button' %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>

<script>
  $(document).ready(function () {
      $("#application-header .burger").click(function () {

          // Toggle the class on both the burger and the menu
          $(this).toggleClass('is-active');
          $("#application-header .navbar-menu").toggleClass('is-active');

      })
  });
</script>