<% if current_page?(root_path) %>
  <nav id="application-header" class="navbar navbar-home is-dark">
<% else %>
  <nav id="application-header" class="navbar is-dark">
<% end %>
<div class="container">
  <div class="navbar-brand">
    <a class="navbar-item" href="<%= root_path %>">
      <div class="logo">
        <img src="<%= asset_path 'logo4.png' %>" alt="Associated Students of Pomona College">
      </div>
      <div class="title is-6">
        Associated Students of<br>Pomona College
      </div>
    </a>

    <div class="navbar-burger burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">

      <!-- Show login and admin access buttons on top on mobile -->
      <div class="navbar-item is-hidden-tablet">
        <% unless logged_in? %>
          <div class="field is-grouped">
            <p class="control">
              <%= button_to 'Sign In', :login_cas, :class => 'button is-info' %>
            </p>
          </div>
        <% else %>
          <div class="field is-grouped">
            <% if is_admin? %>
              <p class="control">
                <a href="<%= admin_root_path %>" class="button is-danger">
                  <span>Admin</span>
                </a>
              </p>
            <% end %>
            <p class="control">
              <a href="<%= logout_path %>" class="button is-light">
                <span>Logout</span>
              </a>
            </p>
          </div>
        <% end %>
      </div>

      <!-- ASPC -->
      <div class="navbar-item has-dropdown is-hoverable is-mega">
        <div class="navbar-link">
          <span class="item-has-arrow">ASPC</span>
        </div>
        <div id="blogDropdown" class="navbar-dropdown">
          <div class="container is-fluid">
            <div class="columns">
              <div class="column">
                <h1 class="title is-6 is-mega-menu-title">Our Organization</h1>
                <div class="navbar-content">
                  <%= link_to "Bylaws", static_path(page_name: "bylaws"), :class => "navbar-item" %>
                </div>
                <div class="navbar-content">
                  <%= link_to "Constitution", static_path(page_name: "constitution"), :class => "navbar-item" %>
                </div>
                <div class="navbar-content">
                  <%= link_to "Elections Code", static_path(page_name: "elections"), :class => "navbar-item" %>
                </div>
              </div>
              <div class="column">
                <h1 class="title is-6 is-mega-menu-title">2022-23</h1>
                <div class="navbar-content">
                  <%= link_to "Funding Request", static_path(page_name: "funding-request"), :class => "navbar-item" %>
                </div>
                <div class="navbar-content">
                  <%= link_to "Meetings and Minutes", static_path(page_name: "minutes"), :class => "navbar-item" %>
                </div>
                <div class="navbar-content">
                  <%= link_to "Senate", senators_path, :class => "navbar-item" %>
                </div>
                <div class="navbar-content">
                  <%= link_to "Staff", staff_path, :class => "navbar-item" %>
                </div>
                <div class="navbar-content">
                  <%= link_to "Software Development Group", static_path(page_name: "software"), :class => "navbar-item" %>
                </div>
              </div>
              <div class="column">
                <h1 class="title is-6 is-mega-menu-title">Other Resources</h1>
                <div class="navbar-content">
                  <a href="https://pomonastudents.org/5crideshare/" class="navbar-item" target="_blank">5C Rideshare</a>
                </div>
                <div class="navbar-content">
                <%= link_to "Wellness Resource Guide", "https://my.pomona.edu/ICSFileServer/Wellness_Resource_Guide.pdf", :class => "navbar-item" %>
                </div>
                <div class="navbar-content">
                  <%= link_to "Agenda Item Submission", "https://docs.google.com/forms/d/e/1FAIpQLSffo2Ji5N1ceL3WiB0Ddn75yeSvgzz05Za3eV826BGjwtVyBQ/viewform", :class => "navbar-item" %>
                </div>
                <div class="navbar-content">
                  <%= link_to "Hybrid Learning Statement", static_path(page_name: "hybrid-learning"), :class => "navbar-item" %>
                </div>
                <div class="navbar-content">
                  <%= link_to "COVID Community Agreement", static_path(page_name: "covid-19"), :class => "navbar-item" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Campus -->
      <div class="navbar-item has-dropdown is-hoverable">
        <div class="navbar-link">
          <span class="item-has-arrow">Campus</span>
        </div>
        <div class="navbar-dropdown">
          <div class="navbar-content">
            <!-- Housing Search / Reviews -->
            <%= link_to "Housing", :housing_rooms, :class => "navbar-item" %>
          </div>
          <div class="navbar-content">
            <%= link_to "JBoard", static_path(page_name: "jboard"), :class => "navbar-item" %>
          </div>
          <div class="navbar-content">
            <!-- Menus -->
            <%= link_to "Menus", :menus, :class => "navbar-item" %>
          </div>
          <div class="navbar-content">
            <a href="https://coopstore.pomona.edu" class="navbar-item" target="_blank">Coop Store</a>
          </div>
        </div>
      </div>

      <!-- Course Schedule / Reviews -->
      <div class="navbar-item has-dropdown is-hoverable">
        <div class="navbar-link">
          <span class="item-has-arrow">Courses</span>
        </div>
        <div class="navbar-dropdown">
          <div class="navbar-content">
            <%= link_to "Course Planner", :course_planner, :class => "navbar-item" %>
          </div>
          <div class="navbar-content">
            <%= link_to "Course Reviews", :course_reviews, :class => "navbar-item" %>
          </div>
          <div class="navbar-content">
            <%= link_to "Instructor Reviews", :instructor_reviews, :class => "navbar-item" %>
          </div>
        </div>
      </div>
      
      <!-- Events -->
      <a class="navbar-item" href="/events">
        <span class="is-info is-medium">Events</span>
      </a>
     


      <!-- Show login and admin access buttons as last items in the nav bar for screens larger than mobile -->
      <div class="navbar-item is-hidden-mobile">
        <% unless logged_in? %>
          <div class="field is-grouped">
            <p class="control">
              <%= button_to 'Sign In', :login_cas, :class => 'button is-info' %>
            </p>
          </div>
        <% else %>
          <div class="field is-grouped">
            <% if is_admin? %>
              <p class="control">
                <a href="<%= admin_root_path %>" class="button is-danger">
                  <span>Admin</span>
                </a>
              </p>
            <% end %>
            <p class="control">
              <a href="<%= logout_path %>" class="button is-light">
                <span>Logout</span>
              </a>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
</nav>

<!--<div class="modal" id="referendum">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <h1 class="title is-3">ASPC Referendum</h1>
      <p class="margin-bottom-2">The Referendum is coming up on March 1 at 7pm! We made a guide so you know exactly what you're voting on.</p>
      <a href="https://publicrelations61.wixsite.com/aspcreferendum" class="button is-medium is-info" target="_blank">Take Me There Now</a>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>-->

<script>
    $(document).ready(function () {
        /*
        if (Cookies.get('referendumModal') !== 'true') {
            const modal = $('#referendum');
            const root = $('html');
            modal.addClass('is-active');
            root.addClass('is-clipped');
            Cookies.set('referendumModal', 'true', {expires: 30});
        }*/
        $("#application-header .burger").click(function () {
            // Toggle the class on both the burger and the menu
            $(this).toggleClass('is-active');
            $("#application-header .navbar-menu").toggleClass('is-active');
        })
    });
</script>
