<% academic_terms = local_assigns.fetch(:academic_terms) %>
<% departments = local_assigns.fetch(:departments) %>

<%= form_with url: courses_search_url, remote: true do |f| %>
<nav class="panel">
  <p class="panel-heading">
      Course Search
  </p>
  <div class="panel-block">
    <div class="field" style="flex: 0 0 100%">
      <p class="help">I am searching for a course during</p>
      <div class="control is-expanded">
        <div class="select is-fullwidth">
          <%= f.select :academic_term, options_for_select(
              (academic_terms.collect(&:session).zip academic_terms.collect(&:year)).map { |t| t.join " " }
          ) %>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-block">
    <div class="field" style="flex: 0 0 100%">
      <p class="help">In department</p>
      <div class="control is-expanded">
        <div class="select is-fullwidth">
          <%= f.select :department, options_for_select(
              departments.collect(&:name)
          ), :prompt => "(any)" %>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-block">
    <div class="field">
      <p class="help">Meets on</p>
      <div class="field is-grouped" style="flex: 0 0 100%; overflow-x: scroll;">
        <div class="control">
          <label class="checkbox">
            <%= check_box_tag(:monday) %>Mon
          </label>
        </div>
        <div class="control">
          <label class="checkbox">
            <%= check_box_tag(:tuesday) %>Tues
          </label>
        </div>
        <div class="control">
          <label class="checkbox">
            <%= check_box_tag(:wednesday) %>Wed
          </label>
        </div>
      </div>
      <div class="field is-grouped" style="flex: 0 0 100%; overflow-x: scroll;">
        <div class="control">
          <label class="checkbox">
            <%= check_box_tag(:thursday) %>Thurs
          </label>
        </div>
        <div class="control">
          <label class="checkbox">
            <%= check_box_tag(:friday) %>Fri
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-block">
    <div class="field">
      <p class="help">At school</p>
      <div class="field is-grouped" style="flex: 0 0 100%; overflow-x: scroll;">
        <div class="control">
          <label class="checkbox">
            <%= check_box_tag(:pomona) %><span class="campus_PO" style="border-radius: 4px; padding: 3px;">PO</span>
          </label>
        </div>
        <div class="control">
          <label class="checkbox">
            <%= check_box_tag(:claremont_mckenna) %><span class="campus_CM" style="border-radius: 4px; padding: 3px;">CM</span>
          </label>
        </div>
        <div class="control">
          <label class="checkbox">
            <%= check_box_tag(:harvey_mudd) %><span class="campus_HM" style="border-radius: 4px; padding: 3px;">HM</span>
          </label>
        </div>
      </div>
      <div class="field is-grouped" style="flex: 0 0 100%; overflow-x: scroll;">
        <div class="control">
          <label class="checkbox">
            <%= check_box_tag(:scripps) %><span class="campus_SC" style="border-radius: 4px; padding: 3px;">SC</span>
          </label>
        </div>
        <div class="control">
          <label class="checkbox">
            <%= check_box_tag(:pitzer) %><span class="campus_PZ" style="border-radius: 4px; padding: 3px;">PZ</span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-block">
    <div class="field" style="flex: 0 0 100%">
      <p class="help">Taught by</p>
      <div class="control is-expanded">
        <div class="control">
          <%= f.text_field :instructor, :class => "input", :placeholder => "Instructor" %>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-block">
    <div class="field" style="flex: 0 0 100%">
      <p class="help">Numbered</p>
      <div class="control is-expanded">
        <div class="control">
          <%= f.number_field :number, :class => "input", :placeholder => "Course Number", :min => 0 %>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-block">
    <div class="field" style="flex: 0 0 100%">
      <p class="help">Containing keyword</p>
      <div class="control is-expanded">
        <div class="control">
          <%= f.text_field :keywords, :class => "input", :placeholder => "Keywords" %>
        </div>
      </div>
    </div>
  </div>


  <div class="panel-block">
    <%= f.submit "Search", :class => "button is-link is-outlined is-fullwidth" %>
  </div>
</nav>
<% end %>