<% content_for :header do %>
  <%= render 'components/page_header', :title => "Dining Hall Menus", :subtitle => "Munch munch" %>
<% end %>

<%= form_with url: '', remote: true, id: 'menu-form' do |f| %>
<%= f.hidden_field :meal_type, :value => '', :id => 'meal-type-field' %>
<%= f.hidden_field :day, :value => '', :id => 'menu-day-field' %>
<div class="tabs is-centered is-boxed is-medium">
  <ul id="day-menu-buttons">
    <li <% if @day == 0 %>class="is-active"<% end %>>
      <%= content_tag(:a, 'Sunday', :name => 'submit', :class => 'menu-day-button') %>
    </li>
    <li <% if @day == 1 %>class="is-active"<% end %>>
      <%= content_tag(:a, 'Monday', :name => 'submit', :class => 'menu-day-button') %>
    </li>
    <li <% if @day == 2 %>class="is-active"<% end %>>
      <%= content_tag(:a, 'Tuesday', :name => 'submit', :class => 'menu-day-button') %>
    </li>
    <li <% if @day == 3 %>class="is-active"<% end %>>
      <%= content_tag(:a, 'Wednesday', :name => 'submit', :class => 'menu-day-button') %>
    </li>
    <li <% if @day == 4 %>class="is-active"<% end %>>
      <%= content_tag(:a, 'Thursday', :name => 'submit', :class => 'menu-day-button') %>
    </li>
    <li <% if @day == 5 %>class="is-active"<% end %>>
      <%= content_tag(:a, 'Friday', :name => 'submit', :class => 'menu-day-button') %>
    </li>
    <li <% if @day == 6 %>class="is-active"<% end %>>
      <%= content_tag(:a, 'Saturday', :name => 'submit', :class => 'menu-day-button') %>
    </li>
  </ul>
</div>

<div class="tabs is-centered is-toggle is-fullwidth is-small">
  <ul id="meal-type-buttons">
    <li>
      <%= content_tag(:a, 'Breakfast', :name => 'submit', :class => 'meal-type-button', :data => {:endpoint => '/menus/breakfast', :meal_type => 'breakfast'}) %>
    </li>
    <li>
      <%= content_tag(:a, 'Brunch', :name => 'submit', :class => 'meal-type-button', :data => {:endpoint => '/menus/brunch', :meal_type => 'brunch'}) %>
    </li>
    <li class="is-active">
      <%= content_tag(:a, 'Lunch', :name => 'submit', :class => 'meal-type-button', :data => {:endpoint => '/menus/lunch', :meal_type => 'lunch'}) %>
    </li>
    <li>
      <%= content_tag(:a, 'Dinner', :name => 'submit', :class => 'meal-type-button', :data => {:endpoint => '/menus/dinner', :meal_type => 'dinner'}) %>
    </li>
  </ul>
</div>
<% end %>

<br>

<div id="dining-hall-menu-container">
  <%= render 'menu/dining_hall_menu', :meal_type => @meal_type, :day => @day %>
</div>

<script>
(function() {
    function submitMenuForm() {
        // Fetch the elements we will be operating on
        let selectedDayElement = $('#day-menu-buttons li.is-active a');
        let selectedMealTypeElement = $('#meal-type-buttons li.is-active a');

        // Set the day of week to fetch menu for
        let selectedDay = selectedDayElement.text().trim().toLowerCase();
        $('#menu-day-field').val(selectedDay);

        // Set the dining hall to fetch menu for
        let selectedMealType = selectedMealTypeElement.text().trim().toLowerCase();
        $('#meal-type-field').val(selectedMealType);

        // Submit the form
        let form = $('#menu-form');
        // let endpointURL = selectedDiningHallElement.data('endpoint');
        let endpointURL = selectedMealTypeElement.data('endpoint')
        form.attr('action', endpointURL);
        Rails.fire(form[0], 'submit');
    }

    $('.menu-day-button').click(function () {
        // Set the active tab
        $('.menu-day-button').parent().each(function () {
            $(this).removeClass('is-active');
        });
        $(this).parent().toggleClass('is-active');

        // Submit the form
        submitMenuForm();
    });

    $('.meal-type-button').click(function() {
        // Set the active tab
        $('.meal-type-button').parent().each(function() {
            $(this).removeClass('is-active');
        });
        $(this).parent().toggleClass('is-active');

        // Submit the form
        submitMenuForm();
    });

    submitMenuForm();
})();
</script>