<% content_for :header do %>
  <%= render 'components/page_header', :title => "Submit Course Review", :subtitle => "Leave feedback for #{@course.name}" %>
<% end %>

<%= form_with(model: @course_review, local: true) do |form| %>
  <% if @course_review.errors.any? %>
    <div id="error_explanation" class="box">
      <h5 class="subtitle is-5 has-text-grey">The following errors prohibited this review from being submitted: </h5>

      <% @course_review.errors.full_messages.each do |message| %>
        <div class="message is-danger">
          <p class="message-body">
            <%= message %>
          </p>
        </div>
      <% end %>
    </div>
  <% end %>

  <br/>

  <div class="field">
    <%= form.label :instructor_id, :class => "label"%>
    <div class="control">
      <div class="select is-rounded">
      <%= form.select :instructor_id,
                     options_for_select(@course.instructors.collect(&:name).zip @course.instructors.collect(&:id)),
                     :class => "input is-rounded" %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :overall_rating, :class => "label"%>
    <div class="control">
      <div class="select is-rounded">
        <%= form.select :overall_rating, 1..5, :class => "input is-rounded" %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :inclusivity_rating, :class => "label"%>
    <div class="control">
      <div class="select is-rounded">
        <%= form.select :inclusivity_rating, 1..5, :class => "input is-rounded" %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :challenge_rating, :class => "label"%>
    <div class="control">
      <div class="select is-rounded">
        <%= form.select :challenge_rating, 1..5, :class => "input is-rounded" %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :work_per_week, :class => "label"%>
    <div class="control">
      <div class="select is-rounded">
        <%= form.select :work_per_week, 1..10, :class => "input is-rounded" %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :comments, :class => "label" %>
    <%= form.text_area :comments, :class => "textarea is-rounded" %>
  </div>

  <%= form.hidden_field :course_id, :value => @course.id %>

  <div class="actions">
    <%= form.submit'Submit course', :class => "button is-info" %>
  </div>
<% end %>
