<% content_for :header do %>
  <%= render 'components/page_header', :title => @instructor.name, :subtitle => "Leave a review" %>
<% end %>

<%= form_with url: nil, remote: true do |f| %>
  <div class="field">
    <div class="label">Challenge rating</div>
    <div class="control">
      <%= render 'components/star_review_input', :id => "challenge", tag_classes: 'is-medium' %>
    </div>
  </div>
  <div class="field">
    <div class="label">Inclusivity rating</div>
    <div class="control">
      <%= render 'components/star_review_input', :id => "inclusivity", tag_classes: 'is-medium' %>
    </div>
  </div>
  <div class="field">Inclusivity
    <label class="label">Average work per week</label>
    <div class="control">
      <div class="select">
        <%= f.select :academic_term, options_for_select((0..20)) %>
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label">Review</label>
    <div class="control">
      <%= f.text_area :keywords, :class => "textarea", :placeholder => "Your thoughts about the instructor", :rows => 6 %>
    </div>
  </div>
  <%= f.submit "Submit", :class => "button is-link margin-bottom-0" %>
  </div>
<% end %>