<% content_for :header do %>
  <%= render 'components/page_header', :title => @instructor.name, :subtitle => "Reviews for #{@instructor.name}" %>
<% end %>

<% if @instructor.course_reviews.length > 0 and not @instructor.name == "Staff" %>
  <h2 class="title">Overall rating: &nbsp;
    <span class="has-text-warning">
      <%= render 'components/numerical_review', rating: @instructor.overall_rating, tag_classes: 'is-large is-info', show_icon: true %>
    </span>
  </h2>
  <div class="columns">
    <div class="column">
      <h3 class="subtitle">
        Challenge rating: <%= render 'components/numerical_review', rating: @instructor.challenge_rating, tag_classes: 'is-medium' %>
      </h3>
    </div>
    <div class="column">
      <h3 class="subtitle">
        Inclusivity rating: <%= render 'components/numerical_review', rating: @instructor.inclusivity_rating, tag_classes: 'is-medium' %>
      </h3>
    </div>
    <div class="column">
      <h3 class="subtitle">
        Average work per week: <span class="tag is-medium"><%= @instructor.work_per_week %> hours</span>
      </h3>
    </div>
  </div>
  <hr />
  <% @instructor.course_reviews.each do |review| %>
    <div class="columns">
      <div class="column">
        <div class="tags are-normal">
        <span class="tag is-medium">
          Overall rating: &nbsp;
          <span class="has-text-warning">
            <%= render 'components/star_review', rating: review.overall_rating %>
          </span>
        </span>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <p class="subtitle"><%= review.comments %></p>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <p><span class="tag has-background-white-bis"><%= review.work_per_week %> Hours work per week</span></p>
        <p>
        <span class="tag has-background-white-bis">
          <span class="has-text-grey">
            <%= render 'components/star_review', rating: review.challenge_rating %>
          </span> &nbsp; Challenge rating
        </span>
        </p>
        <p>
          <% if review.inclusivity_rating %>
          <span class="tag has-background-white-bis">
            <span class="has-text-grey">
              <%= render 'components/star_review', rating: review.inclusivity_rating %>
            </span> &nbsp; Inclusivity rating
          </span>
          <% end %>
        </p>
      </div>
    </div>
    <hr />
  <% end %>
<% else %>
  <div class="columns">
    <div class="column">
      <p class="subtitle">There are no reviews for this instructor at this time.</p>
    </div>
  </div>
<% end %>