<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation" class="box">
      <h5 class="subtitle is-5 has-text-grey">The following errors prohibited this event from being submitted</h5>

      <% event.errors.full_messages.each do |message| %>
        <div class="message is-danger">
          <p class="message-body">
            <%= message %>
          </p>
        </div>
      <% end %>
    </div>
  <% end %>

  <br/>

  <div class="field">
    <%= form.label :event_name, :class => "label"%>
    <div class="control">
      <%= form.text_field :name, :class => "input"  , :class => "input" %>
    </div>
  </div>

  <%= form.label :event_start, :class => "label"%>
  <div class="field is-grouped is-grouped-multiline">
    <div class="control">
      <%= form.date_field :start_date, :class => "input" , :class => "input", :id => "datepickerDemo2" %>
    </div>
    <div class="control">
      <div class="select">
        <%= form.select :start_hour, 1..12, :class => "input" %>
      </div>
    </div>
    <div class="control">
      <div class="select">
        <%= form.select :start_minute, (0..59).map {|t| '%02d' % t}, :class => "input" %>
      </div>
    </div>
    <div class="control">
      <div class="select">
        <%= form.select :start_meridiem, ['AM', 'PM'], :class => "input" %>
      </div>
    </div>
  </div>

  <%= form.label :event_end, :class => "label"%>
  <div class="field is-grouped is-grouped-multiline">
    <div class="control">
      <%= form.date_field :end_date, :class => "input" , :class => "input", :id => "datepickerDemo2" %>
    </div>
    <div class="control">
      <div class="select">
        <%= form.select :end_hour, 1..12, :class => "input" %>
      </div>
    </div>
    <div class="control">
      <div class="select">
        <%= form.select :end_minute, (0..59).map {|t| '%02d' % t}, :class => "input" %>
      </div>
    </div>
    <div class="control">
      <div class="select">
        <%= form.select :end_meridiem, ['AM', 'PM'], :class => "input" %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :location, :class => "label" %>
    <%= form.text_field :location, :class => "input" %>
  </div>

  <div class="field">
    <%= form.label :host, :class => "label" %>
    <%= form.text_field :host, :class => "input" %>
  </div>

  <div class="field">
    <%= form.label :college_affiliation, :class => "label" %>
    <div class="control is-expanded">
      <div class="select is-fullwidth">
        <%= form.select :college_affiliation, options_for_select(
            Event.college_affiliations.keys.map { |e| e.sub('_', ' ').titleize }
        ), :class => "input" %>
      </div>
    </div>
  </div>


  <div class="field">
    <%= form.label :description, :class => "label" %>
    <%= form.text_area :description, :class => "textarea" %>
  </div>

  <div class="field">
    <%= form.label "Link to further information", :class => "label" %>
    <%= form.text_field :details_url, :class => "input"  %>
  </div>

  <%= form.hidden_field :submitted_by_user_fk, :value => current_user.id %>

  <div class="actions">
    <%= form.submit 'Submit event', :class => "button is-info" %>
    <%= link_to 'Back', events_url, :class => "button is-light" %>
  </div>

  <script>
      document.addEventListener('DOMContentLoaded', function () {
          let datePickers = bulmaCalendar.attach('[type="date"]', {
              overlay: true,
              minDate: '2018-01-01',
              maxDate: '2020-12-31',
              lang: 'en'
          });

          // Note: Hacky solution to remove header with undefined days
          datePickers.map(function(pickerInstance) {
              pickerInstance.on('datepicker:show', function(picker) {
                  picker.elementCalendarHeader.innerHTML = ''
              })
          });
      });
  </script>
<% end %>
