<% subtitle_text = if not @event.host.blank? then "Hosted by #{@event.host} at #{@event.location}" else "At #{@event.location}" end %>

<% content_for :header do %>
  <%= render 'components/page_header', :title => @event.name, :subtitle => subtitle_text %>
<% end %>

<div class="columns">
  <div class="column">
    <p>
      <em><time><%= @event.start.strftime("%A, %B %e") %></time></em>
      <em><time><%= @event.start.strftime("%l:%M%P") %></time></em>
      -
      <em><time><%= @event.end.strftime("%l:%M%P") %></time></em>
    </p>
    <hr />
  </div>
</div>

<div class="columns">
  <div class="column">
    <p class="subtitle"><%= @event.description %></p>
    <% if not @event.details_url.blank? %>
      <br />
      <p><%= link_to "More details", @event.details_url %></p>
    <% end %>
  </div>
</div>
