<% subtitle_text = if not @event.host.blank? then
                     "Hosted by #{@event.host} at #{@event.location}"
                   else
                     "At #{@event.location}"
                   end %>

<% content_for :header do %>
  <%= render 'components/page_header', :title => @event.name, :subtitle => subtitle_text %>
<% end %>

<div class="columns">
  <div class="column">
    <div>
      <em>
        <time><%= @event.start.strftime("%A, %B %e") %></time>
      </em>
      <em>
        <time><%= @event.start.strftime("%l:%M%P") %></time>
      </em>
      -
      <em>
        <time><%= @event.end.strftime("%l:%M%P") %></time>
      </em>
    </div>
    <hr>
    <p><%= @event.description %></p>
    <% if not @event.details_url.blank? %>
      <br/>
      <p><%= link_to "More details", @event.details_url %></p>
    <% end %>
  </div>
  <div class="column is-narrow">
      <p class="is-size-5 is-bold margin-bottom-1">Export this event:</p>
      <div>
        <a class="button is-link margin-bottom-1" href="<%= google_calendar_add_url @event %>" target="_blank">
          Google Calendar
        </a>
      </div>
      <div>
        <%= link_to "iCalendar", export_event_path, class: "button is-link", method: :get %>
      </div>
  </div>
</div>
</div>
