<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
  <br/>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start %>
  <br/>
</p>

<p>
  <strong>End:</strong>
  <%= @event.end %>
  <br/>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
  <br/>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
  <br/>
</p>

<p>
  <strong>Host:</strong>
  <%= @event.host %>
  <br/>
</p>

<p>
  <strong>Details Url:</strong>
  <%= @event.details_url %>
  <br/>
</p>

<p>
  <strong>Status:</strong>
  <%= @event.status %>
  <br/>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
