<% content_for :header do %>
  <%= render 'components/page_header', :title => "#{@housing_building.name} Rooms" %>
<% end %>
<%= link_to "Floor Plans", floor_plans_path(:dorm_id => @housing_building.id), class: "button is-link is-info" %>
<br>
<br>

<% @housing_rooms.sort_by{|r| r.room_number.to_i}.in_groups_of(3, false).each do |group| %>
  <div class="columns">
    <% group.each do |room| %>
      <div class="column is-4">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              <%= room.room_name %>
            </p>
          </header>
          <div class="card-content">
            <div class="content">
              <div>Average rating: <%= render 'components/star_review', rating: get_average_rating(@housing_reviews.where(housing_room_id: room.id)) %></div><br>

              <div><%= room.occupancy_type_to_s %></div>
              <% if room.size > 0 %>
                <div><%= room.size.to_i %> square feet</div>
              <% else %>
                <br />
              <% end %>
            </div>
            
            <%= link_to "Reviews", housing_reviews_path(:room_id => room.id), class: "button is-info is-outlined" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>