<% content_for :header do %>
  <%= render 'components/page_header', :title => "Senators" %>
<% end %>

<div class="columns">
  <% @senators.each do |senator| %>
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image senator-image">
            <%= image_tag(senator.image) %>
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <h5 class="title is-5 margin-bottom-2">
                <%= senator.name %></h5>
              <h6 class="subtitle is-6 has-text-weight-semibold margin-bottom-0">
                <%= senator.position %></h6>
              <h6 class="subtitle is-6 margin-bottom-1">
                <%= senator.email %></h6>
              <% if senator.biography.empty? %>
                <span class="button is-static">Biography</span>
              <% else %>
                <a class="button is-info is-outlined modal-open"
                   data-target="<%= senator.name.parameterize %>-biography">Biography</a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% if not senator.biography.empty? %>
      <div class="modal" id="<%= senator.name.parameterize %>-biography">
        <div class="modal-background"></div>
        <div class="modal-content">
          <div class="modal-card">
            <div class="box">
              <h4 class="title is-4">
                <%= senator.name %></h4>
              <p>
                <%= senator.biography %></p>
            </div>
          </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
      </div>
    <% end %>
  <% end %>
</div>





