<% content_for :header do %>
  <%= render 'components/page_header', :title => "Senators" %>
<% end %>

<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image senator-image">
          <%= image_tag("senators/Alejandro Guerrero headshot.jpg") %>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-5">Alejandro Guerrero</p>
            <p class="subtitle is-6">
              <span class="has-text-weight-semibold">President</span><br>
              <span>president@aspc.pomona.edu</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image senator-image">
          <%= image_tag("senators/Johny_Ek_Aban_Headshot.jpg") %>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-5">Johny Ek Aban</p>
            <p class="subtitle is-6">
              <span class="has-text-weight-semibold">Executive Vice President</span><br>
              <span>executivevp@aspc.pomona.edu</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image senator-image">
          <%= image_tag("senators/Meredith_Simpson.jpg") %>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-5">Meredith Simpsonn</p>
            <p class="subtitle is-6">
              <span class="has-text-weight-semibold">Vice President of Academic Affairs</span><br>
              <span>vpacademic@aspc.pomona.edu</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image senator-image">
          <%= image_tag("senators/Jorden_Favors.jpg") %>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-5">Jorden Favors</p>
            <p class="subtitle is-6">
              <span class="has-text-weight-semibold">Vice President of Campus Events</span><br>
              <span>vpcampusevents@aspc.pomona.edu</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image senator-image">
          <%= image_tag("senators/Daniel_Silverman.jpg") %>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-5">Daniel Silverman</p>
            <p class="subtitle is-6">
              <span class="has-text-weight-semibold">North Campus Representative</span><br>
              <span>northcamps@aspc.pomona.edu</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image senator-image">
          <%= image_tag("senators/Payal_Kachru_Headshot.jpg") %>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-5">Payal Kachru</p>
            <p class="subtitle is-6">
              <span class="has-text-weight-semibold">South Campus Rep</span><br>
              <span>southcampus@aspc.pomona.edu</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image senator-image">
          <%= image_tag("senators/Hans Zhou.jpg") %>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-5">Hans Zhou</p>
            <p class="subtitle is-6">
              <span class="has-text-weight-semibold">Clubs and Organizations</span><br>
              <span>clubs@aspc.pomona.edu</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image senator-image">
          <%= image_tag("senators/Samantha_Borje.jpg") %>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-5">Samantha Borje</p>
            <p class="subtitle is-6">
              <span class="has-text-weight-semibold">Community Relations</span><br>
              <span>community@aspc.pomona.edu</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image senator-image">
          <%= image_tag("senators/Juste Simanauskaite headshot.jpg") %>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-5">Juste Simanuaskaite</p>
            <p class="subtitle is-6">
              <span class="has-text-weight-semibold">Environmental Affairs</span><br>
              <span>environment@aspc.pomona.edu</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image senator-image">
          <%= image_tag("senators/Winston_Nelson.jpg") %>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-5">Winston Nelson</p>
            <p class="subtitle is-6">
              <span class="has-text-weight-semibold">Sports</span><br>
              <span>sports@aspc.pomona.edu</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image senator-image">
          <%= image_tag("senators/Laura Zhang.JPG") %>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-5">Laura Zhang</p>
            <p class="subtitle is-6">
              <span class="has-text-weight-semibold">Senior Class President</span><br>
              <span>seniorpresident@aspc.pomona.edu</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image senator-image">
          <%= image_tag("senators/Perla_Grimaldo-Ramirez.jpg") %>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-5">Perla Grimaldo-Ramirez</p>
            <p class="subtitle is-6">
              <span class="has-text-weight-semibold">Junior Class President</span><br>
              <span>juniorpresident@aspc.pomona.edu</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image senator-image">
          <%= image_tag("senators/Malak_Afaneh.jpg") %>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-5">Malak Afaneh</p>
            <p class="subtitle is-6">
              <span class="has-text-weight-semibold">Sophomore Class President</span><br>
              <span>sophomorepresident@aspc.pomona.edu</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image senator-image">
          <%= image_tag("senators/Andriw_Read.jpg") %>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-5">Andriw Read</p>
            <p class="subtitle is-6">
              <span class="has-text-weight-semibold">First Year Class President</span><br>
              <span>firstyearpresident@aspc.pomona.edu</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-5">Alezandro Ruvalcaba</p>
            <p class="subtitle is-6">
              <span class="has-text-weight-semibold">External Affairs</span><br>
              <span>externalaffairs@aspc.pomona.edu</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-5">Ellie Ash-Bala</p>
            <p class="subtitle is-6">
              <span class="has-text-weight-semibold">Advisor</span><br>
              <span>administrator@aspc.pomona.edu</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-5">Christopher Waugh</p>
            <p class="subtitle is-6">
              <span class="has-text-weight-semibold">Advisor</span><br>
              <span>chris.waugh@pomona.edu</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>