<% content_for :header do %>

  <div class="slideshow-container primary-slideshow">
    <%= render 'components/slideshow', :id => "main-slideshow", :classes => "", :slideshow_options => {
        :autoplay => true,
        :arrows => false,
        :dots => true,
        :useTransform => false,
        :easing => 'swing',
        :fade => true
    } do %>
      <% @announcements.each do |announcement| %>
        <div class="cover-image" style="background-image: url(<%= url_for(announcement.background_image) %>);">
          <div class="gradient">
            <div class="announcement-info has-shadow">
              <h2 class="title is-2 has-text-white"><%= announcement.title %></h2>
              <%# if not announcement.caption.blank? %>
              <!-- <p class="subtitle has-text-white"><%#= announcement.caption %></p> -->
              <%# end %>
              <% if not announcement.details_url.blank? %>
                <a class="button is-medium is-outlined is-info" href="<%= announcement.details_url %>" tabindex="0">More
                  Details</a>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="margin-bottom-3 home-heading">
  <h3 class="title is-3">Upcoming Events</h3>
  <a class="button is-outlined is-info" href="/events">See More Events</a>
  <a class="button is-outlined is-info" href="/events/new">Submit an event</a>
</div>

<!-- Events slideshow for desktop screens -->
<div class="is-hidden-mobile">
  <%= render 'components/slideshow', :id => "events-slideshow-desktop", :slideshow_options => {
      :autoplay => true,
      :arrows => false,
      :dots => true,
      :useTransform => true,
      :easing => 'swing',
      :fade => true
  } do %>
    <% @events.each_slice(3) do |list| %>
      <div class="container events-slide">
        <div class="columns">
          <% list.each do |item| %>
            <% campus_background_color_class = bg_color_class(item)
            %>
            <div class="column is-4 event">
              <div class="event-info <%= campus_background_color_class %>">
                <p class="event-date-time"><%= item.start.strftime("%B %e") %>
                  , <%= item.start.strftime("%l:%M%P") %>
                  -<%= item.end.strftime("%l:%M%P") %></p>
                <p class="event-location"><%= item.location %><br></p>
              </div>
              <h4 class="title is-4">
                <a href="<%= url_for(item) %>"><%= item.name %></a></h4>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<!-- Events slideshow for mobile screens -->
<div class="is-hidden-tablet is-hidden-desktop">
  <%= render 'components/slideshow', :id => "events-slideshow-mobile", :slideshow_options => {
      :autoplay => true,
      :arrows => false,
      :dots => true,
      :useTransform => true,
      :easing => 'swing',
      :fade => true
  } do %>
    <% @events.each do |item| %>
      <div class="container">
        <div class="columns events-slide">
          <% campus_background_color_class = bg_color_class(item)
          %>
          <div class="column event">
            <div class="event-info <%= campus_background_color_class %>">
              <p class="event-date-time"><%= item.start.strftime("%B %e") %>
                , <%= item.start.strftime("%l:%M%P") %>
                -<%= item.end.strftime("%l:%M%P") %></p>
              <p class="event-location"><%= item.location %><br></p>
            </div>
            <h4 class="title is-4">
              <a href="<%= url_for(item) %>"><%= item.name %></a></h4>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="margin-bottom-3 home-heading">
  <h3 class="title is-3">The Student Life</h3>
  <a class="button is-outlined is-info" href="https://tsl.news" target="_blank">Go to TSL</a>
</div>

<% if @news.length > 0 %>
  <div class="columns tsl-articles">
    <% @news.each do |article| %>
      <div class="column is-4 tsl-article">
        <div class="tsl-article-info">
          <p><%= article[:date].strftime("%B %e, %Y") %></p>
        </div>
        <h4 class="title is-4">
          <a href="<%= article[:link] %>" target="_blank"><%= article[:title] %></a></h4>
        </h4>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="columns margin-bottom-3">
    <div class="column">
      <p>There are no articles available.</p>
    </div>
  </div>
<% end %>
