<% content_for :header do %>

  <div class="slideshow-container primary-slideshow">
    <%= render 'components/slideshow', :id => "main-slideshow", :slideshow_options => {
        :autoplay => true,
        :arrows => false,
        :dots => true,
        :useTransform => false,
        :easing => 'swing',
        :fade => true
    } do %>
      <% @announcements.each do |announcement| %>
        <div class="cover-image" style="background-image: url(<%= url_for(announcement.background_image) %>);">
          <div class="gradient">
            <div class="announcement-info has-shadow">
              <h3 class="title is-1 has-text-white"><%= announcement.title %></h3>
              <% if not announcement.caption.blank? %>
                <p class="subtitle has-text-white"><%= announcement.caption %></p>
              <% end %>
              <% if not announcement.details_url.blank? %>
                <a class="button is-medium is-outlined is-info" href="<%= announcement.details_url %>" tabindex="0">More
                  Details</a>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="margin-bottom-3 home-heading">
  <h3 class="title is-3">Upcoming Events</h3>
  <a class="button is-outlined is-info" href="https://tsl.news">Event Calendar</a>
</div>

<% if @events.length > 0 %>
  <div class="columns events margin-bottom-4">
    <% @events.each do |event| %>
      <% campus_background_color_class =
             case event.college_affiliation.try(:to_sym)
             when :pomona
               "event-PO"
             when :claremont_mckenna
               "event-CM"
             when :harvey_mudd
               "event-HM"
             when :scripps
               "event-SC"
             when :pitzer
               "event-PZ"
             else
               "event-PO" # catchall because Frank/Frary/Oldenborg to not symbolize to Pomona
             end
      %>
      <div class="column is-4 event">
        <div class="event-info <%= campus_background_color_class %>">
          <p class="event-date-time"><%= event.start.strftime("%B %e") %>, <%= event.start.strftime("%l:%M%P") %>
            -<%= event.end.strftime("%l:%M%P") %></p>
          <p class="event-location"><%= event.location %><br></p>
        </div>
        <% if event.details_url.empty? %>
          <h4 class="title is-4"><%= event.name %></h4>
        <% else %>
          <h4 class="title is-4">
            <a href="<%= event.details_url %>" target="_blank"><%= event.name %></a>
          </h4>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="columns margin-bottom-4">
    <div class="column">
      <p>No upcoming events. Would you like to <%= link_to "submit one?", new_event_path %></p>
    </div>
  </div>
<% end %>

<div class="margin-bottom-3 home-heading">
  <h3 class="title is-3">The Student Life</h3>
  <a class="button is-outlined is-info" href="https://tsl.news" target="_blank">Go to TSL</a>
</div>

<% if @news.length > 0 %>
  <div class="columns tsl-articles">
    <% @news.each do |article| %>
      <div class="column is-4 tsl-article">
        <div class="tsl-article-info">
          <p><%= article[:date].strftime("%B %e, %Y") %></p>
        </div>
        <h4 class="title is-4">
          <a href="<%= article[:link] %>" target="_blank"><%= article[:title] %></a></h4>
        </h4>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="columns margin-bottom-3">
    <div class="column">
      <p>No TSL articles found.</p>
    </div>
  </div>
<% end %>
