<% content_for :header do %>
  <section class="hero is-primary page-header">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-2 is-hidden-touch">
            <img class="logo" src="<%= asset_path 'logo4.png' %>" alt="Associated Students of Pomona College">
          </div>
          <div class="column is-10">
            <h1 class="title">Associated Students of Pomona College</h1>
            <h2 class="subtitle">
              Serving the Claremont College community since 1887
            </h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="slideshow-container primary-slideshow">
    <%= render 'components/slideshow', :id => "main-slideshow", :slideshow_options => {
        :autoplay => true,
        :arrows => false,
        :dots => false,
    } do %>
      <% @announcements.each do |announcement| %>
        <div class="cover-image" style="background-image: url(<%= url_for(announcement.background_image) %>);">
          <%= link_to announcement.details_url do %>
            <div class="gradient">
              <div class="announcement-text">
                <h3 class="title is-4 has-text-white"><%= announcement.title %></h3>
                <% if not announcement.caption.blank? %>
                  <p class="subtitle has-text-white"><%= announcement.caption %></p>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <br/>
<% end %>

<div class="margin-bottom-3">
  <h3 class="title is-3 margin-bottom-1">5C Events</h3>
  <a class="button is-medium is-outlined is-info" href="<%= events_path %>">Calendar</a>
</div>

<% if @events.length > 0 %>
  <% @events.each do |event|
    campus_background_color_class =
       case event.college_affiliation.try(:to_sym)
       when :pomona
         "campus_PO"
       when :claremont_mckenna
         "campus_CM"
       when :harvey_mudd
         "campus_HM"
       when :scripps
         "campus_SC"
       when :pitzer
         "campus_PZ"
       else
         "campus_PO" # catchall because Frank/Frary/Oldenborg to not symbolize to Pomona
       end
  %>
    <div class="columns event is-mobile">
      <div class="column is-1-desktop is-2-tablet is-3-mobile">
        <div class="box event-date-box <%= campus_background_color_class %>">
          <div class="date">
            <div class="event-month is-size-5"><%= event.start.strftime("%b") %></div>
            <div class="event-day is-size-3"><%= event.start.strftime("%-d") %></div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="box event-info-box">
          <h5 class="title is-5 margin-bottom-2"><%= event.name %></h5>
          <div class="subtitle is-6 margin-bottom-1">
            <div class="event-time">
              <span class="icon">
                <i class="fa fa-clock-o " aria-hidden="true"></i>
              </span>
              <span><%= event.start.strftime("%l:%M%P").strip %>–<%= event.end.strftime("%l:%M%P").strip %></span>
            </div>
            <div class="event-location">
              <span class="icon">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
              </span>
              <span><%= event.location %></span>
            </div>
          </div>
          <div class="event-description margin-bottom-1">
            <p><%= event.description %></p>
          </div>
          <a class="button is-outlined" href="<%= url_for(event) %>">More Info</a>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="columns">
    <div class="column">
      <p>No upcoming events. Would you like to <%= link_to "submit one?", new_event_path %></p>
    </div>
  </div>
<% end %>