<% content_for :header do %>

  <div class="slideshow-container primary-slideshow">
    <%= render 'components/slideshow', :id => "main-slideshow", :classes => "", :slideshow_options => {
        :autoplay => true,
        :arrows => false,
        :dots => true,
        :useTransform => false,
        :easing => 'swing',
        :fade => true
    } do %>
      <% @announcements.each do |announcement| %>
        <% if announcement.background_image.attached? %>
          <div class="cover-image" style="background-image: url(<%= url_for(announcement.background_image) %>);">
        <% else %>
          <div class="cover-image">
        <% end %>
        <div class="gradient">
          <div class="announcement-info has-shadow">
            <h2 class="title is-2 has-text-white"><%= announcement.title %></h2>
            <% if not announcement.details_url.blank? %>
              <a class="button is-medium is-outlined is-info" href="<%= announcement.details_url %>" tabindex="0">
                <%= if announcement.caption.blank? then
                      "More Details"
                    else
                      announcement.caption
                    end %>
              </a>
            <% end %>
          </div>
        </div>
        </div>
      <% end %>
    <% end %>
    </div>
<% end %>

<!-- <div class="columns margin-bottom-3">
  <div class="column is-full">
    <aside class="box">
      <h4 class="title is-4">Questions, comments, and concerns</h4>
      <p class="margin-bottom-2">Please use this form for any questions, comments, or concerns that you would like ASPC
        to address. If you have
        multiple questions or comments that span different areas, make sure to note the general area in your response.
        We will ensure your submission will be received and addressed by all relevant and related senators. Direct any
        questions to <a class="no-underline" href="mailto:senate@aspc.pomona.edu">senate@aspc.pomona.edu</a>!
      </p>
      <a class="button is-info is-outlined" href="<%= contact_aspc_path %>">Open Form</a>
    </aside>
  </div>
</div> -->

<div class="margin-bottom-3 home-heading">
  <h3 class="title is-3">Upcoming Events</h3>
  <div class="buttons">
    <a class="button is-outlined is-info" href="/events">See more events</a>
    <a class="button is-outlined is-info" href="https://pomona.campuslabs.com/engage/">Submit an event</a>
  </div>
</div>

<!-- Events slideshow for desktop screens -->
<div class="is-hidden-mobile">
  <% if @events.length > 0 %>
    <%= render 'components/slideshow', :id => "events-slideshow-desktop", :slideshow_options => {
        :autoplay => true,
        :arrows => false,
        :dots => true,
        :useTransform => true,
        :easing => 'swing',
        :fade => true
    } do %>
      <% @events.each_slice(3) do |list| %>
        <div class="container events-slide">
          <div class="columns">
            <% list.each do |item| %>
              <% campus_background_color_class = bg_color_class(item)
              %>
              <div class="column is-4 event">
                <div class="event-info <%= campus_background_color_class %>">
                  <p class="event-date-time"><%= item.start.strftime("%B %e") %>
                    , <%= item.start.strftime("%l:%M%P") %>
                    -<%= item.end.strftime("%l:%M%P") %></p>
                  <p class="event-location"><%= item.location %><br></p>
                </div>
                <h4 class="title is-4">
                  <a href="<%= url_for(item) %>"><%= item.name %></a>
                </h4>
                <p class="event-host is-4 ">
                  <%= item.host %>
                </p>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <div class="columns margin-bottom-3">
      <div class="column">
        <p>There are no events available.</p>
      </div>
    </div>
  <% end %>
</div>

<!-- Events slideshow for mobile screens -->
<div class="is-hidden-tablet is-hidden-desktop">
  <% if @events.length > 0 %>
    <%= render 'components/slideshow', :id => "events-slideshow-mobile", :slideshow_options => {
        :autoplay => true,
        :arrows => false,
        :dots => true,
        :useTransform => true,
        :easing => 'swing',
        :fade => true
    } do %>
      <% @events.each do |item| %>
        <div class="container">
          <div class="columns events-slide">
            <% campus_background_color_class = bg_color_class(item)
            %>
            <div class="column event">
              <div class="event-info <%= campus_background_color_class %>">
                <p class="event-date-time"><%= item.start.strftime("%B %e") %>
                  , <%= item.start.strftime("%l:%M%P") %>
                  -<%= item.end.strftime("%l:%M%P") %></p>
                <p class="event-location"><%= item.location %><br></p>
              </div>
              <h4 class="title is-4">
                <a href="<%= url_for(item) %>"><%= item.name %></a>
              </h4>
              <p class="event-host is-4">
                <%= item.host %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <div class="columns margin-bottom-3">
      <div class="column">
        <p>There are no events available.</p>
      </div>
    </div>
  <% end %>
</div>

<div class="margin-bottom-2 home-heading">
  <h3 class="title is-3">Latest From ASPC</h3>
</div>

<div class="columns margin-bottom-3">
  <div class="column is-full">
  <aside class="box">
    <h4 class="title is-4">Spring 2023 Funding Request Forms</h4>
    <p class="margin-bottom-2">
    Request funds allocated for student and club events from ASPC.
    </p>
    <%= link_to "Click Here", static_path("funding-request"), :class => "button is-info is-outlined" %>
  </aside>
  </div>
</div>

<div class="margin-bottom-3 home-heading">
  <h3 class="title is-3">The Student Life</h3>
  <a class="button is-outlined is-info" href="https://tsl.news" target="_blank">Go to TSL</a>
</div>

<!--
<% if @news.length > 0 %>
  <div class="columns tsl-articles">
    <% @news.each do |article| %>
      <div class="column is-4 tsl-article">
        <div class="tsl-article-info">
          <p><%= article[:date].strftime("%B %e, %Y") %></p>
        </div>
        <h4 class="title is-4">
          <a href="<%= article[:link] %>" target="_blank"><%= article[:title] %></a></h4>
        </h4>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="columns margin-bottom-3">
    <div class="column">
      <p>There are no articles available.</p>
    </div>
  </div>
<% end %>
-->
