<% content_for :header do %>

  <div class="slideshow-container primary-slideshow">
    <%= render 'components/slideshow', :id => "main-slideshow", :slideshow_options => {
        :autoplay => true,
        :arrows => true,
        :dots => false,
        :useTransform => false,
        :easing => 'swing'
    } do %>
      <% @announcements.each do |announcement| %>
        <div class="cover-image" style="background-image: url(<%= url_for(announcement.background_image) %>);">
          <div class="gradient">
            <div class="announcement-info has-shadow">
              <h3 class="title is-1 has-text-white"><%= announcement.title %></h3>
              <% if not announcement.caption.blank? %>
                <p class="subtitle has-text-white"><%= announcement.caption %></p>
              <% end %>
              <% if not announcement.details_url.blank? %>
                <a class="button is-medium is-outlined is-info" href="<%= announcement.details_url %>" tabindex="0">More
                  Details</a>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="margin-bottom-2 home-heading">
  <h3 class="title is-3">Upcoming Events</h3>
  <a class="button is-outlined is-info" href="https://tsl.news">Event Calendar</a>
</div>

<% if @events.length > 0 %>
  <div class="columns margin-bottom-3">
    <% @events.each do |event| %>
      <% campus_background_color_class =
             case event.college_affiliation.try(:to_sym)
             when :pomona
               "event-PO"
             when :claremont_mckenna
               "event-CM"
             when :harvey_mudd
               "event-HM"
             when :scripps
               "event-SC"
             when :pitzer
               "event-PZ"
             else
               "event-PO" # catchall because Frank/Frary/Oldenborg to not symbolize to Pomona
             end
      %>
      <div class="column is-4 event">
        <div class="event-info <%= campus_background_color_class %>">
          <p><%= event.start.strftime("%B %e") %>, <%= event.start.strftime("%l:%M%P") %>
            -<%= event.end.strftime("%l:%M%P") %></p>
          <p><%= event.location %><br></p>
        </div>
        <h4 class="title is-4"><%= event.name %></h4>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="columns margin-bottom-3">
    <div class="column">
      <p>No upcoming events. Would you like to <%= link_to "submit one?", new_event_path %></p>
    </div>
  </div>
<% end %>

<div class="margin-bottom-2 home-heading">
  <h3 class="title is-3">Latest Updates From The Student Life</h3>
  <a class="button is-outlined is-info" href="https://tsl.news">Go to TSL</a>
</div>

<% @news.each do |article| %>
  <div class="columns">
    <div class="column margin-bottom-1">
      <h5 class="title is-5 margin-bottom-2"><a href="<%= article[:link] %>"><%= article[:title] %></a></h5>
      <p class="subtitle is-6 margin-bottom-1">
        <%= article[:date].strftime("Published on %B %e, %Y") %>
      </p>
      <p class="margin-bottom-1">
        <%= ActionView::Base.full_sanitizer.sanitize(article[:description]) %>
      </p>
      <a class="button is-outlined" href="<%= article[:link] %>" tabindex="0">Read More</a>
    </div>
  </div>
<% end %>
