<% content_for :header do %>
  <%= render 'components/page_header', :title => "Open Forum", :subtitle => "Lorem ipsum dot" %>
<% end %>

<div class="columns">
  <div class="column">
    <div class="notification">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac dolor ut leo consectetur lacinia. Duis magna
      felis, eleifend at ipsum et, vehicula facilisis elit. Sed faucibus pharetra turpis ut euismod. Vivamus auctor
      pellentesque orci, nec sagittis ligula fringilla eget.
    </div>
    <%= form_with url: open_forum_url, remote: true do |f| %>
      <div class="field">
        <label class="label">Area of concern</label>
        <div class="control is-expanded">
          <div class="select">
            <%= f.collection_select :topic, OpenForumMapping.all, :id, :topic  %>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Question</label>
        <div class="control is-expanded">
          <div class="control">
            <%= f.text_area :question, :class => "textarea", :placeholder => "Type your question here", :rows => 5 %>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Would you like to be contacted?</label>
        <div class="control">
          <label class="radio">
            <%= f.radio_button :response, true %>
            Yes
          </label>
          <label class="radio">
            <%= f.radio_button :response, false, :checked => true %>
            No
          </label>
        </div>
      </div>
      <div class="field" id="response-method">
        <label class="label">How would you like to be contacted?</label>
        <div class="control">
          <%= f.text_field :method, :class => "input", :placeholder => "Type the way we can reach you (email, phone number, etc.)" %>
        </div>
      </div>
      <div class="field">
        <%= f.submit "Send", :class => "button is-link is-info" %>
      </div>
    <% end %>
  </div>
</div>

<script>
    $('#response_true').click(function() {
        $('#response-method').show();
    });
    $('#response_false').click(function() {
        $('#response-method').hide();
    });
    // $("form[id='open-forum-form']").validate({
    //     submitHandler: function (form) {
    //         form.submit();
    //     },
    //     errorPlacement: function(error, element) {
    //         // Prevents validate from creating a new label when a validation error occurs
    //     },
    //     errorClass: "is-danger"
    // });
    // $.validator.addClassRules({
    //     candidates: {
    //         required: true,
    //     }
    // });
</script>