<% course_sections = local_assigns.fetch(:course_sections, []) %>

<% if course_sections %>
<div class="buttons is-right">
  <button class="button has-no-border" style="border: none;">
    Showing <%= course_sections.length %> results
  </button>
</div>
  <div id="course-list-results" class="vertical-scroll">
    <% course_sections.each do |section| %>
    <% background_color = case section.course_meeting_details.first.try(:campus).try(:to_sym)
                          when :pomona
                            "campus_PO"
                          when :claremont_mckenna
                            "campus_CM"
                          when :harvey_mudd
                            "campus_HM"
                          when :scripps
                            "campus_SC"
                          when :pitzer
                            "campus_PZ"
                          else
                            "campus_KS"
                          end

    %>
    <article class="message is-dark">
      <div class="message-header <%= background_color %>">
        <p>
          <%= link_to course_path(section.course), :class => 'no-underline' do %>
            <%= section.code %> - <%= section.course.name %>
          <% end %>
        </p>
        <p class="is-pulled-right">
          <%= link_to course_path(section.course), :class => 'no-underline has-text-warning' do %>
            <%= render 'components/star_reviews', rating: section.course.overall_rating %>
          <% end %>
        </p>
      </div>
      <div class="message-body">
        <div class="columns">
          <div class="column">
            <p>
              <% section.instructors.each do |instructor| %>
                <%= link_to instructor_path(instructor), :class => 'no-underline' do %>
                <strong><%= instructor.name %></strong>
                (
                  <span class="has-text-warning">
                    <%= render 'components/star_reviews', rating: instructor.overall_rating %>
                  </span>
                )
                <% end %>

                <br />
              <% end %>

              <br />
              <%= section.credit%> credits
            </p>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <p>
              <%= raw section.description %>
            </p>
          </div>
        </div>
        <div class="columns">
          <div class="column">
              <% section.course_meeting_details.each do |detail| %>
                <p><%= detail.to_s %></p>
              <% end %>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="buttons is-left">
              <%= button_to "Add to Schedule",
                            :courses_add,
                            :class => "button",
                            :method => :post,
                            :remote => true,
                            :params => { :section_id => section.id } %>
            </div>
          </div>
        </div>
      </div>
    </article>
    <% end %>
</div>
<% end %>