<% academic_terms = local_assigns.fetch(:academic_terms) %>
<% departments = local_assigns.fetch(:departments) %>

<%= form_with url: courses_search_url, remote: true do |f| %>
  <nav class="panel" id="course-search-form">
    <p class="panel-heading">
      Course Search
    </p>
    <div class="panel-block">
      <div class="field">
        <label class="label">Term</label>
        <div class="control is-expanded">
          <div class="select is-fullwidth">
            <%= f.select :academic_term, options_for_select(
                (academic_terms.collect(&:session).zip academic_terms.collect(&:year)).map {|t| t.join " "}
            ) %>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Department</label>
        <div class="control is-expanded">
          <div class="select is-fullwidth">
            <%= f.select :department, options_for_select(
                departments.collect(&:name)
            ), :prompt => "(any)" %>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Meets on</label>
        <div class="select is-multiple is-fullwidth">
          <%= f.select :days, options_for_select(["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]), {}, {:multiple => true, :size => 3} %>
        </div>
      </div>
      <div class="field">
        <label class="label">School</label>
        <div class="select is-multiple is-fullwidth">
          <%= f.select :schools, options_for_select([["Pomona", {"class" => "pomona"}], ["Claremont McKenna", {"class" => "cmc"}], ["Harvey Mudd", {"class" => "hmc"}], ["Scripps", {"class" => "scripps"}], ["Pitzer", {"class" => "pitzer"}]]), {}, {:multiple => true, :size => 3} %>
        </div>
      </div>
      <div class="field">
        <label class="label">Time</label>
        <div class="control time">
          <%= f.time_select :start_time, {ampm: true, start_hour: 8, end_hour: 23, ignore_date: true, prompt: true, prompt: {hour: "Start"}} %>
        </div>
        <div class="control">
          <%= f.time_select :end_time, {ampm: true, start_hour: 8, end_hour: 23, ignore_date: true, prompt: true, prompt: {hour: "End"}} %>
        </div>
      </div>
      <div class="field">
        <label class="label">Taught by</label>
        <div class="control is-expanded">
          <div class="control">
            <%= f.text_field :instructor, :class => "input", :placeholder => "Instructor" %>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Numbered</label>
        <div class="control is-expanded">
          <div class="control">
            <%= f.number_field :number, :class => "input", :placeholder => "Course Number", :min => 0 %>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Containing keyword</label>
        <div class="control is-expanded">
          <div class="control">
            <%= f.text_field :keywords, :class => "input", :placeholder => "Keywords" %>
          </div>
        </div>
      </div>
      <div class="field">
        <%= f.submit "Search", :class => "button is-link is-fullwidth" %>
      </div>
    </div>
  </nav>
<% end %>