<% course_sections = local_assigns.fetch(:course_sections, []) %>

<% if course_sections %>
  <section class="message equal-height" id="course-list-results-container">
    <div class="message-header">
      <% if course_sections.length > 0 %>
        Showing <%= course_sections.length %> results
      <% else %>
        No results
      <% end %>
    </div>
    <section class="message-body vertical-scroll" id="course-list-results">
      <% course_sections.each do |section| %>
        <% campus_background_color_class =
               case section.course_meeting_details.first.try(:campus).try(:to_sym)
               when :pomona
                 "campus_PO"
               when :claremont_mckenna
                 "campus_CM"
               when :harvey_mudd
                 "campus_HM"
               when :scripps
                 "campus_SC"
               when :pitzer
                 "campus_PZ"
               else
                 "campus_KS"
               end
        %>

        <article class="message is-dark">
          <div class="message-header <%= campus_background_color_class %>">
            <div class="columns">
              <div class="column">
                <div class="margin-bottom-half">
                <%= link_to course_path(section.course), :class => 'no-underline' do %>
                  <%= section.code %><br>
                  <strong><%= section.course.name %></strong>
                <% end %>
                </div>
                <div>
                  <%= link_to course_path(section.course), :class => 'no-underline' do %>
                    <%= render 'components/numerical_review',
                              rating: section.course.overall_rating,
                              tag_classes: "#{campus_background_color_class} has-text-white has-brightness",
                              show_icon: true %>
                  <% end %>
                </div>
              </div>
              <div class="column chevron-container is-narrow">
                <div class="more-details-chevron">
                  <span class="chevron-up">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" class="feather feather-chevron-down">
                      <polyline points="6 9 12 15 18 9"></polyline>
                    </svg>
                  </span>
                  <span class="chevron-down">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" class="feather feather-chevron-up">
                      <polyline points="18 15 12 9 6 15"></polyline>
                    </svg>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="message-body">
            <div class="columns">
              <div class="column">
                <p>
                  <% section.instructors.each do |instructor| %>
                    <%= link_to instructor_path(instructor), :class => 'no-underline' do %>
                      <strong><%= instructor.name %> &nbsp;</strong>
                      <%= render 'components/numerical_review',
                                 rating: instructor.overall_rating, show_icon: true %>
                    <% end %>

                    <br/>
                  <% end %>

                  <br/>
                  <%= section.credit %> credits
                </p>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <p>
                  <%= raw section.description %>
                </p>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <% section.course_meeting_details.each do |detail| %>
                  <p><%= detail.to_s %></p>
                <% end %>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <div class="buttons is-left">
                  <%= button_to "Add to Schedule",
                                :courses_add,
                                :class => "button is-info",
                                :method => :post,
                                :remote => true,
                                :params => {:section_id => section.id} %>
                </div>
              </div>
            </div>
          </div>
        </article>
      <% end %>
    </section>
  </section>
<% end %>