<% academic_terms = local_assigns.fetch(:academic_terms) %>
<% departments = local_assigns.fetch(:departments) %>

<%= form_with url: courses_search_url, remote: true do |f| %>
  <section class="message" id="course-search-form">
    <div class="message-header">
      Course Search
    </div>
    <div class="message-body">
      <div class="field">
        <label class="label">Term</label>
        <div class="control is-expanded">
          <div class="select is-fullwidth">
            <%= f.select :academic_term, options_for_select(
                (academic_terms.collect(&:session).zip academic_terms.collect(&:year)).map {|t| t.join " "}
            ) %>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Department</label>
        <div class="control is-expanded">
          <div class="select is-fullwidth">
            <%= f.select :department, options_for_select(
                departments.collect(&:name)
            ), :prompt => "(any)" %>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Meets on</label>
        <div class="field is-grouped checkboxes">
          <div class="control">
            <input class="is-checkradio is-block is-info" id="monday" type="checkbox" name="monday" checked="checked">
            <label for="monday">Monday</label>
          </div>
          <div class="control">
            <input class="is-checkradio is-block is-info" id="tuesday" type="checkbox" name="tuesday" checked="checked">
            <label for="tuesday">Tuesday</label>
          </div>
          <div class="control">
            <input class="is-checkradio is-block is-info" id="wednesday" type="checkbox" name="wednesday" checked="checked">
            <label for="wednesday">Wednesday</label>
          </div>
          <div class="control">
            <input class="is-checkradio is-block is-info" id="thursday" type="checkbox" name="thursday" checked="checked">
            <label for="thursday">Thursday</label>
          </div>
          <div class="control">
            <input class="is-checkradio is-block is-info" id="friday" type="checkbox" name="friday" checked="checked">
            <label for="friday">Friday</label>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">School</label>
        <div class="field is-grouped checkboxes">
          <div class="control">
            <input class="is-checkradio is-block is-info" id="pomona" type="checkbox" name="pomona" checked="checked">
            <label for="pomona" class="campus_PO">Pomona</label>
          </div>
          <div class="control">
            <input class="is-checkradio is-block is-info" id="claremont_mckenna" type="checkbox" name="claremont_mckenna" checked="checked">
            <label for="claremont_mckenna" class="campus_CM">CMC</label>
          </div>
          <div class="control">
            <input class="is-checkradio is-block is-info" id="harvey_mudd" type="checkbox" name="harvey_mudd" checked="checked">
            <label for="harvey_mudd" class="campus_HM">HM</label>
          </div>
          <div class="control">
            <input class="is-checkradio is-block is-info" id="scripps" type="checkbox" name="scripps" checked="checked">
            <label for="scripps" class="campus_SC">SC</label>
          </div>
          <div class="control">
            <input class="is-checkradio is-block is-info" id="pitzer" type="checkbox" name="pitzer" checked="checked">
            <label for="pitzer" class="campus_PZ">PZ</label>
          </div>
        </div>
      </div>
      <!-- Temporary disable time filter
      <div class="field">
        <label class="label">Time</label>
        <div class="control time">
          <%#=  f.time_select :start_time, {ampm: true, start_hour: 8, end_hour: 23, ignore_date: true, prompt: true, prompt: {hour: "Start"}} %>
        </div>
        <div class="control">
          <%#= f.time_select :end_time, {ampm: true, start_hour: 8, end_hour: 23, ignore_date: true, prompt: true, prompt: {hour: "End"}} %>
        </div>
      </div>
      -->
      <div class="field">
        <label class="label">Taught by</label>
        <div class="control is-expanded">
          <div class="control">
            <%= f.text_field :instructor, :class => "input", :placeholder => "Instructor" %>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Numbered</label>
        <div class="control is-expanded">
          <div class="control">
            <%= f.number_field :number, :class => "input", :placeholder => "Course Number", :min => 0 %>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Containing keyword</label>
        <div class="control is-expanded">
          <div class="control">
            <%= f.text_field :keywords, :class => "input", :placeholder => "Keywords" %>
          </div>
        </div>
      </div>
      <div class="field">
        <%= f.submit "Search", :class => "button is-link is-fullwidth is-info" %>
      </div>
    </div>
  </section>
<% end %>