<% course_sections = local_assigns.fetch(:course_sections, []) %>

<% if course_sections %>
<div class="buttons is-right">
  <button class="button has-no-border" style="border: none;">
    Showing <%= course_sections.length %> results
  </button>
</div>
  <div id="course-list-results" class="vertical-scroll">
    <% course_sections.each do |section| %>
    <article class="message is-info">
      <div class="message-header">
        <p><%= section.course.code %> - <%= section.course.name %></p>
        <p class="is-pulled-right">Review</p>
      </div>
      <div class="message-body">
        <div class="columns">
          <div class="column">
            <p>
              <% section.instructors.each do |instructor| %> <%= instructor.name %> - <% end %> <%= section.credit%> credits
            </p>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <p>
              <%= section.description %>
            </p>
          </div>
        </div>
        <div class="columns">
          <div class="column">
              <% section.course_meeting_details.each do |detail| %>
                <p><%= detail.to_s %></p>
              <% end %>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="buttons is-left">
              <%= button_to "Add to Schedule",
                            :courses_add,
                            :class => "button",
                            :method => :post,
                            :remote => true,
                            :params => { :code_slug => section.code_slug } %>
            </div>
          </div>
        </div>
      </div>
    </article>
    <% end %>
</div>
<% end %>