<% instructors = @instructors %>

<!-- Search Results -->
<div id="instructors-list-container">
  <% if instructors %>
    <div class="results-heading">
      Showing <%= instructors.length %> results
    </div>
    <div id="instructors-list-results">
      <% instructors.each do |instructor| %>
        <% campus_background_color_class =
               case instructor.school
               when :pomona
                 "campus_PO"
               when :claremont_mckenna
                 "campus_CM"
               when :harvey_mudd
                 "campus_HM"
               when :scripps
                 "campus_SC"
               when :pitzer
                 "campus_PZ"
               else
                 "campus_KS"
               end
        %>

        <div class="message is-dark">
          <div class="message-header <%= campus_background_color_class %>">
            <div class="margin-bottom-half is-size-5">
              <%= instructor.name %>
            </div>
            <div class="tags">
              <%= render 'components/numerical_review', rating: instructor.overall_rating, tag_classes: "#{campus_background_color_class} has-text-white has-brightness",
                         show_icon: true %>
              <span class="tag categorized-rating">Challenge rating:&nbsp;<%= render 'components/star_review', rating: instructor.challenge_rating %></span>
              <span class="tag categorized-rating">Inclusivity rating:&nbsp;<%= render 'components/star_review', rating: instructor.inclusivity_rating %></span>
              <span class="tag categorized-rating">Average work per week:&nbsp;<%= instructor.work_per_week %>
                hours</span>
            </div>
          </div>
          <div class="message-body">
            <div class="columns">
              <div class="column">
                <h5 class="subtitle is-5 margin-bottom-half has-text-weight-semibold">Courses taught</h5>
                <div id="course-schedule-list">
                  <ul>
                    <% instructor.courses.each do |course| %>
                      <li>
                        <%= link_to course_path(course), :class => "no-underline" do %>
                          <%= course.code %>: <%= course.name %>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <%= link_to "View detailed reviews", instructor_path(instructor), :class => "button is-link #{campus_background_color_class}" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>