<% academic_terms = @academic_terms %>
<% departments = @departments %>

<section class="message" id="course-search-form">
  <div class="message-header">
    <div>Search 5C Courses</div>
  </div>
  <div class="message-body">
    <p class="margin-bottom-1 is-italic">Please enter at least a course name or a course number.</p>
    <%= form_with url: course_reviews_search_url, remote: true do |f| %>
      <div class="field">
        <label class="label">Course Name</label>
        <div class="control is-expanded">
          <div class="control">
            <%= f.text_field :keywords, :class => "input", :placeholder => "Keywords" %>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Numbered</label>
        <div class="control">
          <div class="control">
            <%= f.number_field :number, :class => "input", :placeholder => "Course Number", :min => 0 %>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">School</label>
        <div class="field is-grouped checkboxes colleges">
          <div class="control">
            <input class="is-checkradio is-block is-info" id="pomona" type="checkbox" name="pomona" checked="checked">
            <label for="pomona" class="campus_PO">Pomona</label>
          </div>
          <div class="control">
            <input class="is-checkradio is-block is-info" id="claremont_mckenna" type="checkbox" name="claremont_mckenna" checked="checked">
            <label for="claremont_mckenna" class="campus_CM">CMC</label>
          </div>
          <div class="control">
            <input class="is-checkradio is-block is-info" id="harvey_mudd" type="checkbox" name="harvey_mudd" checked="checked">
            <label for="harvey_mudd" class="campus_HM">HM</label>
          </div>
          <div class="control">
            <input class="is-checkradio is-block is-info" id="scripps" type="checkbox" name="scripps" checked="checked">
            <label for="scripps" class="campus_SC">SC</label>
          </div>
          <div class="control">
            <input class="is-checkradio is-block is-info" id="pitzer" type="checkbox" name="pitzer" checked="checked">
            <label for="pitzer" class="campus_PZ">PZ</label>
          </div>
        </div>
      </div>
      <!--
      <div class="field">
        <label class="label">Department</label>
        <div class="control">
          <div class="select">
            <%= f.select :department, options_for_select(
                departments.collect(&:name)
            ), :prompt => "(any)" %>
          </div>
        </div>
      </div>
      -->
      <div class="field">

      <%= f.button "Search", :class => "button is-link search-button margin-bottom-0 is-medium is-info", :data => { disable_with: "<i class='fa fa-spinner fa-spin'></i>&nbspLoading".html_safe} %>
      
      </div>
          
      
    <% end %>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    $('#search_button').on('click', function() {
      var $button = $(this);
      $button.html('<i class="fa fa-spinner fa-spin"></i>&nbsp;Searching');
      
      setTimeout(function() {
        $button.html('Search');
      }, 3000); 
    });

    $('#sort_button').on('click', function() {
      var $button = $(this);
      $button.html('<i class="fa fa-spinner fa-spin"></i>&nbsp;Sorting');
      
      setTimeout(function() {
        $button.html('Sort by Rating');
      }, 3000); 
    });
  });
</script>