<% courses = local_assigns.fetch(:courses, []) %>

<!-- Search Results -->
<div id="reviews-course-list-container">
  <% if courses %>
    <div class="results-heading">
      Showing <%= courses.length %> results
    </div>
    <div id="reviews-list-results">
      <% courses.each do |course| %>
        <% campus_background_color_class =
               case course.schools.first
               when :pomona
                 "campus_PO"
               when :claremont_mckenna
                 "campus_CM"
               when :harvey_mudd
                 "campus_HM"
               when :scripps
                 "campus_SC"
               when :pitzer
                 "campus_PZ"
               else
                 "campus_KS"
               end
        %>

        <article class="message">
          <div class="message-header <%= campus_background_color_class %>">
            <div class="margin-bottom-half is-size-5">
              <%= link_to course_path(course), :class => 'no-underline' do %>
                <%= course.code %>: <%= course.name %>
              <% end %>
            </div>
            <div class="tags">
              <%= render 'components/numerical_review',
                         rating: course.overall_rating,
                         tag_classes: "#{campus_background_color_class} has-text-white has-brightness",
                         show_icon: true %>
              <span class="tag categorized-rating">Challenge rating:&nbsp;<%= render 'components/star_review', rating: course.challenge_rating %></span>
              <span class="tag categorized-rating">Inclusivity rating:&nbsp;<%= render 'components/star_review', rating: course.inclusivity_rating %></span>
              <span class="tag categorized-rating">Average work per week:&nbsp;<%= course.work_per_week %>
                hours</span>
            </div>
          </div>
          <div class="message-body">
            <div class="columns">
              <div class="column">
                <div id="course-schedule-list">
                  <h5 class="subtitle is-5 margin-bottom-half has-text-weight-semibold">Previous instructors</h5>
                  <ul>
                    <% course.instructors.each do |instructor| %>
                      <li>
                        <%= link_to instructor_path(instructor), :class => 'no-underline' do %>
                          <%= instructor.name %>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <%= link_to "Leave a review", new_course_review_path(course), :class => "button is-link #{campus_background_color_class} margin-right-half" %>
                <%= link_to "View detailed reviews", course_path(course), :class => "button" %>
              </div>
            </div>
          </div>
        </article>
      <% end %>
    </div>
  <% end %>
</div>