<% content_for :header do %>
  <%= render 'components/page_header', :title => "Course Planner", :subtitle => "Browse courses and plan your schedule" %>
<% end %>

<aside class="message is-info">
  <div class="message-body">
    We are actively improving and adding functionality to course and instructor review search every day!
    If you have an idea or notice something missing, please let us know by submitting your feedback <a href="
    https://docs.google.com/forms/d/e/1FAIpQLSePd28bwR3TqXsk0Tj-b8m6CuOFWcmopacO1EvAeTkq3SKEvQ/viewform">here</a>.
  </div>
</aside>

<div class="columns">
  <div class="column is-3">
    <%= render 'courses/partials/course_search_form', academic_terms: @academic_terms, departments: @departments, course_meeting_details: @course_meeting_details %>
  </div>
  <div class="column is-4 is-hidden" id="course-list-container">
    <%= render 'courses/partials/course_list' %>
  </div>
  <div class="column" id="course-schedule-container">
    <%= render 'courses/partials/course_schedule', course_sections: @course_sections %>
    <div class="buttons">
      <%= button_to "Save Schedule",
                    courses_save_path,
                    :class => "button is-outlined",
                    :method => :post,
                    :remote => true %>
      <%= button_to "Clear Schedule",
                    courses_clear_path,
                    :class => "button",
                    :method => :post,
                    :remote => true %>
      <a class="button modal-open" data-target="export-schedule-modal">Export Schedule</a>
    </div>
  </div>
</div>

<div class="modal" id="export-schedule-modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="modal-card">
      <div class="box">
        <h4 class="title is-4">Export Schedule</h4>
        <% @academic_terms.each do |term| %>
        <%= link_to "Export #{term.session} #{term.year}", courses_export_url(:session => term.session, :year => term.year), method: :get, class: "button is-outlined" %>
        <% end %>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
