<% content_for :header do %>
  <%= render 'components/page_header', :title => "Course Planner", :subtitle => "Browse courses and plan your schedule" %>
<% end %>

<aside class="message is-danger">
  <div class="message-body">
    <strong>CS Students:</strong> Courses within the Computer Science department are not yet available to ASPC. Please use your school portal in the
    meantime. We apologize for the inconvenience!
  </div>
</aside>

<div class="columns">
  <div class="column is-3">
    <div class="buttons">
      <%= button_to "Save Schedule",
                    courses_save_path,
                    :class => "button is-info",
                    :method => :post,
                    :remote => true %>
      <%= button_to "Clear Schedule",
                    courses_clear_path,
                    :class => "button",
                    :method => :post,
                    :remote => true %>
    </div>
    <%= render 'courses/partials/course_search_form', academic_terms: @academic_terms, departments: @departments %>
  </div>
  <div class="column is-4 is-hidden" id="course-list-container">
    <%= render 'courses/partials/course_list' %>
  </div>
  <div class="column" id="course-schedule-container">
    <%= render 'courses/partials/course_schedule', course_sections: @course_sections %>
  </div>
</div>