<% content_for :header do %>
  <%= render 'components/page_header', :title => @course.name, :subtitle => "Reviews for #{@course.code}" %>
<% end %>

<% if @course.course_reviews.length > 0 %>
  <h2 class="title">Overall course rating: &nbsp;
    <span class="has-text-warning">
      <%= render 'components/numerical_review', rating: @course.overall_rating, tag_classes: 'is-large is-info', show_icon: true %>
    </span>
  </h2>
  <div class="columns">
    <div class="column">
      <h3 class="subtitle">
        Challenge rating: <%= render 'components/numerical_review', rating: @course.challenge_rating, tag_classes: 'is-medium' %>
      </h3>
    </div>
    <div class="column">
      <h3 class="subtitle">
        Inclusivity rating: <%= render 'components/numerical_review', rating: @course.inclusivity_rating, tag_classes: 'is-medium' %>
      </h3>
    </div>
    <div class="column">
      <h3 class="subtitle">
        Average work per week: <span class="tag is-medium"><%= @course.work_per_week %> hours</span>
      </h3>
    </div>
  </div>
  <hr />
  <% @course.course_reviews.each do |review| %>
  <div class="columns">
    <div class="column">
      <div class="tags are-normal">
        <span class="tag is-medium">
          Course rating: &nbsp;
          <span class="has-text-warning">
            <%= render 'components/star_review', rating: review.overall_rating %>
          </span>
        </span>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <p class="subtitle"><%= review.comments %></p>
      <p><%= link_to instructor_path(review.instructor), :class => 'no-underline has-text-dark' do %>
          <%= review.instructor.name %>
          <%= render 'components/numerical_review',
                     rating: review.instructor.overall_rating %>
        <% end %></p>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <p><span class="tag has-background-white-bis"><%= review.work_per_week %> Hours work per week</span></p>
      <p>
        <span class="tag has-background-white-bis">
          <span class="has-text-grey">
            <%= render 'components/star_review', rating: review.challenge_rating %>
          </span> &nbsp; Challenge rating
        </span>
      </p>
      <p>
        <% if review.total_cost %>
          <span class="tag has-background-white-bis">
            <span class="has-text-grey">
              Average Cost:&nbsp; <%= review.total_cost %>
            </span> 
          </span>
        <% end %>

        <% if review.inclusivity_rating %>
          <span class="tag has-background-white-bis">
            <span class="has-text-grey">
              <%= render 'components/star_review', rating: review.inclusivity_rating %>
            </span> &nbsp; Inclusivity rating
          </span>
        <% end %>
      </p>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <p><em>Review written <%= review.written_at %></em></p>
    </div>
  </div>
  <% if !current_user.nil? && review.user_id == current_user.id %>
    <div class="columns">
      <div class="column">
        <%= link_to "Delete", delete_course_review_path(review), :method => 'delete', class: "button is-danger is-outlined" %>
      </div>
    </div>
  <% end %>
  <hr />
  <% end %>
  <div class="columns">
    <div class="column">
      <p><%= link_to "Submit course review", new_course_review_path(@course.id), :class => 'button is-info' %></p>
    </div>
  </div>
<% else %>
  <div class="columns">
    <div class="column">
      <p class="subtitle">There are no reviews for this course at this time.</p>
      <p><%= link_to "Submit course review", new_course_review_path(@course.id), :class => 'button is-info' %></p>
    </div>
  </div>
<% end %>