<table>
  <thead>
    <tr>
      <th>Overall rating</th>
      <th>Quiet rating</th>
      <th>Layout rating</th>
      <th>Temperature rating</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @housing_reviews.each do |housing_review| %>
      <tr>
        <td><%= housing_review.overall_rating %></td>
        <td><%= housing_review.quiet_rating %></td>
        <td><%= housing_review.layout_rating %></td>
        <td><%= housing_review.temperature_rating %></td>
        <td><%= housing_review.comments %></td>
        <td><%= link_to 'Show', housing_review_path(id: housing_review.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Housing Review', new_housing_review_path %>
