<p>
  <strong>Quiet rating:</strong>
  <%= @housing_review.quiet_rating %>
</p>

<p>
  <strong>Layout rating:</strong>
  <%= @housing_review.layout_rating %>
</p>

<p>
  <strong>Temperature rating:</strong>
  <%= @housing_review.temperature_rating %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @housing_review.comments %>
</p>

<%= link_to 'Back', housing_reviews_path %>
