<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- iOS meta tags -->
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale=0.8">

    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render partial: 'components/application_header' %>

    <div id="alert-banner-container" class="is-overlay">
      <% if notice.present? %>
        <%= render partial: 'components/alert_banner' %>
      <% end %>
    </div>

    <section class="section application-body-container">
      <%= yield :header %>
      <section class="section application-content-section">
        <div class="container application-content-container">
          <%= yield %>
        </div>
      </section>
    </section>

    <%= render partial: 'components/application_footer' %>

  </body>
</html>
